* {
    margin: 0 1vw 0 1vw;
}

a {
    color: #cc5500 !important;
    font-weight: bolder;
    border-bottom: #cc5500 1px solid;
}

body {
    font: Oswald;
    color: #0e1111 !important;
    background-color: #f9f9f9 !important;
}

.MainPage {
    text-align: center;
    min-height: 20em;
    min-width: 100%;
    display:flex;
    flex-direction: column;
  }

.darkMode {
    color:  #f9f9f9 !important;
    background-color: #0e1111 !important;
}
 
.socialLinks {
    margin-right: 2vw;
    display:flex;
    justify-content: end;
}

.col {
    padding-top: 5vw;
}

.row {
    display:flex;
    align-items: flex-start;
}
  
.circle {
    margin-left: 1vw;
    height: 1.9vw;
    width: 1vw;
    background-color: #bbb;
    border-radius: 90px 0 0 90px;
    display: inline-block;
}

.aboutText {
    font-size: 24px;
    margin-right: 60vw;
    padding-left: 3vw;
    display:flex;
    align-items: flex-start;
    font-weight: 500;
}

li{
    display:flex;
    font-size: 15px;
    justify-content: center;
    list-style: none;
    display:block;
    display:flex;
}

.liHeaders {
    font-weight: bold;
}

/* Media breaks  */

  @media only screen and (max-width: 1640px) {
    .aboutText {
        font-size: 20px;
    }
    li{
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 1440px) {
    .aboutText {
        font-size: 18px;
    }
    li{
        font-size: 12px;
    }
  }
  @media only screen and (max-width: 1280px) {
    .aboutText {
        font-size: 18px;
        margin-right: 50vw;
    }
    li{
        font-size: 12px;
    }
    .ulTogether {
        margin-top: 6vw;
        margin-right: 5vw;
    }
    .workUl {
        height: 30vw;
        width: 30vw;
    }
  }

  @media only screen and (max-width: 1060px) {
    .aboutText {
        font-size: 18px;
        margin-right: 50vw;
    }
    li{
        font-size: 12px;
    }
    .ulTogether {
        margin-top: 6vw;
        margin-right: 5vw;
    }
    .workUl {
        height: 30vw;
        width: 40vw;
    }
  }
   
  @media only screen and (max-width: 900px) {
    .aboutText {
        font-size: 18px;
        margin-right: 2vw;
    }
    li{
        font-size: 15px;
    }
    .socialLinks {
        font-size: 14px;
        display:flex;
        justify-content: center;
    }
    .circle {
        height: 3.9vw;
        width: 2vw;

    }
    .workUl {
        height: 0vw;
        width: 85vw;
        padding-bottom: 15vh;
    }
    .row {
        display:flex;
        flex-direction: column;
    }
  }
  @media only screen and (max-width: 480px) {
    .aboutText {
        font-size: 18px;
        margin-right: 2vw;
    }
    li{
        font-size: 10px;
        margin-right: 5vh;
    }
    .socialLinks {
        font-size: 14px;
        display:flex;
        justify-content: center;
    }
    .circle {
        height: 5.9vw;
        width: 3vw;
    }
    .workUl {
        height: 0vw;
        width: 85vw;
        padding-bottom: 12vh;
    }
  }
  @media only screen and (max-width: 480px) {
    .aboutText {
        font-size: 16px;
    }
    li{
        font-size: 10px;
        margin-right: 5vh;
    }
    .socialLinks {
        font-size: 14px;
        display:flex;
        justify-content: center;
    }
    .circle {
        height: 5.9vw;
        width: 3vw;
    }
    .workUl {
        height: 0vw;
        width: 90vw;
        margin-right: 10%;
        padding-bottom: 18vh;
    }
  }






